p {
    text-align: center;
    font: 15px sans-serif;
    margin: 100px;
}
.wrapper {
    text-align: center;
}
h2 {
    font: 15px sans-serif;
    text-align: center;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    font-size: 10px;
    margin: 20px;
}
.node text {
    font: 8px sans-serif;
}
.node-internal circle {
    fill: #555;
}
.node-internal text {
   // text-shadow: 0 10px 0 #fff, 0 -10px 0 #fff, 10px 10 0 #fff, -10px 10 0 #fff;
    font: 8px sans-serif;
}

.text{
    font: 8px sans-serif;
}

body {
    background-color: lightyellow;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}
line { stroke: black; }
